beautifulsoup4==4.12.3
cn2an==0.5.22
deep_phonemizer==0.0.19
dp==1.0
encodec==0.1.1
eng_to_ipa==0.0.2
gdown==5.1.0
inflect==7.0.0
jieba==0.42.1
langid==1.1.6
lhotse==1.21.0
librosa==0.10.1
nltk==3.8.1
num2words==0.5.13
phonemizer==3.2.1
pyopenjtalk_prebuilt==0.3.0
pypinyin==0.50.0
scipy==1.13.0
SudachiPy==0.6.8
tokenizers==0.15.2
tqdm==4.66.1
Unidecode==1.3.7
vocos==0.1.0
wget==3.2
torchmetrics==0.11.1

